ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(180, 6, 6);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(8, 77, 13);
    text-align: center;
    padding: 14px 16px;
    text-decoration: dotted;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  