<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="static/styles.css" />
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="centralizar">
        <div class="title">
            <br><br><br><br>
            <h1>Pokemon can't be found!</h1>
        </div>
        <div class="desc">
            <p>ERROR 404 😭😭</p>

            <div class="error">
                <img src="https://c.tenor.com/WUEKqaYhVsUAAAAC/pokemon-sad.gif" alt="">
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>